$primary-color: #1e1f29de
$light-color: #FFF
$dark-color: #333
$yellor-color: #e9d843
$gray-text-color: #B9BABC
$bg-color: #15161D
$secondary-bg-color: #B2BFC8
$section-bg-color: #E4E7ED
$link-color: #2B2D42
$container-width: 1170px